<!DOCTYPE html>
<html>
    <head>
        <title>Edit Task</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    </head>
    <body>
        <div class="container mt-5">
        <h1>Edit Task</h1>

        <form  method="POST" class="d-flex gap-2 mb-4">
            {% csrf_token %} 
            <input type="text"
            name="title"
            value="{{task.title}}" required> 
            
            <input type="date"
            name="due_date"
            value="{{ task.due_date }}" default="{{ task.due_date}}">
            <input type="radio" name="priority" value="Low" 
            {% if task.priority == "Low" %}
            checked{% endif %}>Low
            <input type="radio" name="priority" value="Medium" 
            {% if task.priority == "Medium" %}
            checked{% endif %}>Medium
            <input type="radio" name="priority" value="High" 
            {% if task.priority == "High" %}
            checked{% endif %}>High
            <div class="mb-3">
                <label class="form-label">Category</label>
                <select name="category" class="form-select">
                    <option value="Study" {% if task.category == "Study" %} selected {% endif %}>Study</option>
                    <option value="Work" {% if task.category == "Work" %} selected {% endif %}>Work</option>
                    <option value="Personal" {% if task.category == "Personal" %} selected {% endif %}>Personal</option>
                    <option value="Projects" {% if task.category == "Projects" %} selected {% endif %}>Projects</option>
                    <option value="Other" {% if task.category == "Other" %} selected {% endif %}>Other</option>
                </select>
            </div>
            <button type="Submit">Save Changes</button>
        </form>
        </div>
    </body>
</html>