{% extends "base.html" %}
{% block content %}
<h2>{{ greeting }},
    {{ request.user.username }}!</h2>
    <p class="text-muted">Let's make today productive!!!</p>
        <div class="container mt-5">
        <h1 class="text-center mb-4">DayQuest</h1>

        <div class="row mb-4">
            <div class="col-md-3">
                <div class="card text-center shadow-sm border-0">
                    <div class="card-body">
                        <h5>Total</h5>
                        <h3>{{ total_tasks }}</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-center shadow-sm border-0">
                    <div class="card-body">
                        <h5>Completed</h5>
                        <h3>{{ completed_tasks }}</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-center shadow-sm border-0">
                    <div class="card-body">
                        <h5>Pending</h5>
                        <h3>{{ pending_tasks }}</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-center shadow-sm border-0">
                    <div class="card-body">
                        <h5>Overdue</h5>
                        <h3>{{ overdue_tasks }}</h3>
                    </div>
                </div>
            </div>
        </div>
        
        <h5>Overall Progress</h5>
        <div class="progress mb-4" style="height: 25px;">
            <div class="progress-bar bg-success" role="progressbar" style="width: {{ completion_percentage }}%;">
                {{ completion_percentage }}%
            </div>
        </div>

        <h2 class="mb-3">Today's Task</h2>

        <form  method="POST" class="d-flex gap-2 mb-4">
            {% csrf_token %} 
            <input type="text"
            name="title"
            class="form-control"
            placeholder="Enter a task" required>

            <input type="date"
            name="due_date"
            class="form-control">
            <div class="mt-2">
                <label class="form-label">Priority</label>
                <div>
                    <input type="radio" name="priority" value="Low" id="low">
                    <label for="low">Low</label><br>
                    <input type="radio" name="priority" value="Medium" id="medium" checked>
                    <label for="medium">Medium</label><br>
                    <input type="radio" name="priority" value="High" id="high">
                    <label for="high">High</label>
                </div>
            </div>
            <div>
                <label class="form-label">Category</label>
                <select name="category" class="form-select">
                    <option value="Study">Study</option>
                    <option value="Work">Work</option>
                    <option value="Personal">Personal</option>
                    <option value="Project">Project</option>
                    <option value="Other">Other</option>
                </select>
            </div>
            <button class="btn btn-primary">Add Task</button>
        </form>
        
        <form  method="GET" class="d-flex gap-2 mb-4">
            {% csrf_token %} 
            <input type="text" name="search" class="form-control" placeholder="search...">
            <button class="btn btn-primary">Search</button>

        <select name="sort" class="form-select" onchange="this.form.submit()">
            <option value="due_date" {% if sort_by == "due_date" %} selected {% endif %}>
                Due Date
            </option>
            <option value="priority" {% if sort_by == "priority" %} selected {% endif %}>Priority</option>
            <option value="newest" {% if sort_by == "newest" %}selected{% endif %}>Newest</option>
            <option value="alphabet" {% if sort_by == "alphabet" %} selected {% endif %}>Alphabetical</option>
        </select>
        </form>

        <h5 class="mt-4">Status</h5>
        <div class="mb-4">
            <a href="?search={{ search_query }}&filter=all" class="btn {% if filter_type == 'all' %}btn-primary fw-bold {% else %} btn-outline-primary btn-sm {% endif %}">ALL</a>
            <a href="?search={{ search_query }}&filter=pending" class="btn {% if filter_type == 'pending' %}btn-warning fw-bold {% else %} btn-outline-warning btn-sm {% endif %}">Pending</a>
            <a href="?search={{ search_query }}&filter=completed" class="btn {% if filter_type == 'completed' %}btn-success fw-bold {% else %} btn-outline-success btn-sm {% endif %}">Completed</a>
            <a href="?search={{ search_query }}&filter=overdue" class="btn {% if filter_type == 'overdue' %}btn-danger fw-bold {% else %} btn-outline-danger btn-sm {% endif %}">Overdue</a>
        </div>
        <h5 class="mt-4">Category</h5>
        <div class="d-flex flex-wrap gap-2 mb-4">
            <a href="?search={{ search_query }}&filter={{ filter_type}}&category=all" class="btn {% if category == 'all' %}btn-dark fw-bold {% else %} btn-outline-dark btn-sm {% endif %}">All</a>
            <a href="?search={{ search_query }}&filter={{ filter_type}}&category=Study" class="btn {% if category == 'Study' %}btn-primary fw-bold {% else %} btn-outline-primary btn-sm {% endif %}">Study</a>
            <a href="?search={{ search_query }}&filter={{ filter_type}}&category=Work" class="btn {% if category == 'Work' %}btn-success fw-bold {% else %} btn-outline-success btn-sm {% endif %}">Work</a>
            <a href="?search={{ search_query }}&filter={{ filter_type}}&category=Personal" class="btn {% if category == 'Personal' %}btn-warning fw-bold {% else %} btn-outline-warning btn-sm {% endif %}">Personal</a>
            <a href="?search={{ search_query }}&filter={{ filter_type}}&category=Projects" class="btn {% if category == 'Projects' %}btn-danger fw-bold {% else %} btn-outline-danger btn-sm {% endif %}">Projects</a>
            <a href="?search={{ search_query }}&filter={{ filter_type}}&category=Other" class="btn {% if category == 'Other' %}btn-secondary fw-bold {% else %} btn-outline-secondary btn-sm {% endif %}">Other</a>
        </div>
        {% for task in tasks %}
        <div class="card mb-3 shadow-sm
        {% if task.completed %}
        border-success
        {% elif task.is_overdue %}
        border-danger
        {% elif task.is_today %}
        border-warning
        {% else %}
        border-primary
        {% endif %}">
            <div class="card-body d-flex justify-content-between align-items-center">
                <div>
                    <small class="text-muted">
                        Created: {{ task.created_at|date:"d M Y" }}
                    </small>
                    {% if task.completed %}
                    <h5 class="text-decoration-line through text-muted">{{ task.title }}</h5>
                    {% else %}
                    <h5>{{ task.title }}</h5>
                    {% endif %}
                    
                    {% if task.priority == "High" %}
                    <span class="badge bg-danger">High</span>
                    {% elif task.priority == "Medium" %}
                    <span class="badge bg-warning text-dark">Medium</span>
                    {% else %}
                    <span class="badge bg-success">Low</span>
                    {% endif %}

                    {% if task.category %}
                    <span class="badge bg-primary">
                        {{ task.category }}
                    </span>
                    {% endif %}

                    {% if task.due_date %}
                    <span class="badge bg-secondary">{{ task.due_date }}</span>
                    {% endif %}

                    {% if task.is_today %}
                    <span class="badge bg-info">Today</span>
                    {% endif %}
                    {% if task.is_overdue %}
                    <span class="badge bg-danger">Overdue</span>
                    {% endif %}
                </div>

                <div>
                    {% if not task.completed %}
                    <a href="{% url 'complete_task' task.id %}" class="btn btn-success btn-sm">Completed</a>
                    {% else %}
                    <a href="{% url 'complete_task' task.id %}" class="btn btn-success btn-sm">Incomplete</a>

                    {% endif %}

                    <a href="{% url 'edit_task' task.id %}" class="btn btn-warning btn-sm">Edit</a>

                    <a href="{% url 'delete_task' task.id %}" class="btn btn-danger btn-sm">Delete</a>
                </div>
            </div>
        </div>
        {% empty %}
        <p class="text-center text-muted">No tasks available.</p>
        {% endfor %}
    </div>
{% endblock %}